@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 98vh;
    background-color: black;
}

.logoNetflix {
    padding-top: 2em;
    padding-left: 40px;
    max-width: 100%;
    height: auto;
}

.idioma {
    order: 2;
}

.login {
    order: 1;
    width: 50px;
    padding: 8px;
    background-color: #E50914;
    border-radius: 5%;
}


.login > a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    padding-right: 40px;

}

option {
    background-color: gray;
}

select {
    color: white;
    background-color: #040202;
    border: 1px solid white;
    border-radius: 5%;
    width: 100px;
    height: 30px;
    text-align: center;
}
